.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.8em;
}

.footer-icons {
    font-size: 1.35em;
    margin: 0 0 0.5em 0;
}
