---
layout: default
---

<script>
    var req = new XMLHttpRequest();
    req.open('GET', '/projects.json');
    req.onload = parseProjects;
    req.send();

    function parseProjects(response) {
        var projects = JSON.parse(response.target.responseText),
            ongoing = document.getElementById("ongoing");

        projects.forEach(function (p) {
            var div = document.createElement("div");
            div.innerHTML = "patate";
            ongoing.appendChild(div);
        });
    }
</script>


<div id="ongoing">

</div>

<div id="locked">

</div>

<div id="unlocked">

</div>
