// Typography
$font-family-main: 'Open Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Open Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #53354A;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0); // rgba recommended if using feature images

// Typography colours
$text-color: #2B2E4A;
$link-color: #903749;
$selection-color: #E84545; // visible when highlighting text

// Header colours
$header-link-color: #FFFFFF;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #53354A;
$header-desc-text-color: #FFFFFF;
